@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color:rgb(14, 95, 95) ;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background-image: url("img/fondologin.png");
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(8, 8, 8, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #070707;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #6d3f3f;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #915151;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #684444;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
.button{
    width: 100%;
    height: 40px;
    border-color: white;
    border-radius: 50px;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
    
}
.register{
    font-size: .9em;
    color: #0f0f0f;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #1a1818;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
    height: 10%;
    min-height: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: 10px;
    overflow: hidden;
}
.Barradenavegacion{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 400px;
    height: 100px;
    margin-top: 25px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
text-decoration: none;
color: #0c0c0c;  /* colo letra menu*/
font-size: 14px;
}
nav ul li a:hover{
    font-size: 16px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.evento{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.evento h2{
   font-size: 54px; 
}
.evento h3{
    font-size: 30px;
    color: #0f0f0f;
    font-weight: 100;
    margin: 20px 0 10pxs;
}
.evento p{
    font-size: 16px;
    color: #080808;
    font-weight: 100;
}
.button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color:  blue;
    background: #1db39e;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
.evento h4{
    margin: 30px 0;
    font-size: 20px;
}

button img{ /*el boton de comprar lleva un icono*/
    width: 30px;
    display: none;
}
button:hover img{
  display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.evento::after{
    content: '';
    width: 10px;
    height: 18%;
    background: #1db39e;
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
position: relative;
flex-basis: 60%;
display: flex;
align-items: center;
}
.col-2 .imagenevento{
    width: 90%;
}

.btn img{  /*botones de redes sociales*/
width: 15px;
height: 15px;
margin-bottom: 15px;
}

.social-links img{
height:25px;
width: 25px;
margin: 15px;
cursor: pointer;
}
.social-links{
    text-align: center;
    
}
/*-----*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Estilo Intro*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*,
*::after,
*::before{
    margin: 0; 
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;
}

.intro {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background:#1db39e;
    transition: 1s;
}

.intro img {
    top: 150px;
    position: absolute;
}

.intro .pintro{
    color: black;
    font-size: 1.6rem;
    margin-top: 10px;
}

.logoini {
    font-size: 2.5rem;
    color: black;
}

.logo-parts {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.content{
    width: 100%;
    padding: 50px;
    font-size: 2rem;
}

/* Estilos Qs*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  margin:0px;
  padding:0px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.column {
  height: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Img {
  background-image: url("img/fondologin.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0px 0px 3px black;
  color: black;
}

#col-places {
  justify-content: space-around;
  height: 480px;
  background: white;
  text-align: center;
}
#col-places div div p {
  text-align: left;
}
.col-text {
  padding: 0px 5px;
}
#col-places img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
#col-images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#col-images div div {
  height: 180px;
}

#col-images > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
img {
  width: 100px;
}

/*Style*/

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;   
 }
 
 html{
     font-size: 62.5%;
 }
 
 body{
     margin-top: 2vw;
     background-color: #EAFAF1;
 }
 
 .container {
 background-color: #f5f5f3 ;
 }
 
 h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #222; 
 }
 
 .grid {
     display: grid;
     max-width: 1100px;
     justify-content: center;
     margin: auto;
     gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(280px,280px));
     padding-bottom: 50px;
 }
 
 .items {
     background-color: #ffff;
     border: solid thin #e1e1e1;
 }
 
 .items img {
     width: 100%;
     height: 170px;   
 }
 
 .info{
     padding: 50pox;
 }
 
 .info h3{
     font-size: 1.6rem;
 }
 
 .precio {
     font-weight: bolder;
 }
 
 .info p{
     font-size: 1.5rem;
 }
 
 info h3,
 .info p{
     color: #222;
     margin-bottom: 14px;
     margin-top: 14px;
 }
 
 .precio p {
     font-size: 1.6rem;
 
 }
 
 .jello{
     padding: 1rem;
     width: 100%;
     background-color: #33c3f0;
     border: none;
     outline: none;
     color: #f6f4f7;
     text-transform: uppercase;
     font-size: 1.1rem;
     border-radius: 5px;
     cursor: pointer;
     margin-bottom: 5px;
     transition: .5s, color .10s;
     -webkit-transition: .5s, color .10s;
     -moz-transition: .5s, color .10s;
 }
 
 .jello:hover{
     background-color: rgb(0, 211, 158);
     transition: all .3s;
     animation-name: jello;
         -webkit-animation-name: jello;
         -moz-animation-name: jello;
     animation-duration: 1s;
         -webkit-animation-duration: 1s;
         -moz-animation-duration: 1s;
     transform-origin: center;
         -webkit-transform-origin: center;
         -moz-transform-origin: center;
 }
 
 @keyframes jello {
     from,11.1%,to {transform: translate3d(0, 0, 0);}
     22.2% {transform: skewX(-12.5deg) skewY(-12.5deg);}
     33.3% {transform: skewX(6.25deg) skewY(6.25deg);}
     44.4% {transform: skewX(-3.125deg) skewY(-3.125deg);}
     55.5% {transform: skewX(1.5625deg) skewY(1.5625deg);}
     66.6% {transform: skewX(-0.78125deg) skewY(-0.78125deg);}
     77.7% {transform: skewX(0.390625deg) skewY(0.390625deg);}
     88.8% {transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
 }
 
 
 
 .carrito{
     width: 100%;
     justify-content: right;
     display: flex;
 }
 
 .imgCarrito{
     cursor: pointer;
     
 }
 .bodyCompras{

    width: auto;
 }
 .cantidadCarrito{
     background-color: #66CCFF;
     width: min-content;
     height: min-content;
     border-radius: 15%;
 }

 /*información de artistas página principal, link*/

 *.infoPagPrincipal{
    margin: 15;
    padding-left: 05;

 }

 .imagenInfo{
    width: auto;
    height: auto;

 }

 body.infoPagPrincipal{
    
    background: #33c3f0;

 }
/* estilo de información de los artistas*/
 .textoInfo{

    text-align: justify;
    margin-right: 40px;
    margin-left: 40px;
 }
/*estillo de las imagenes dentro de la información del artistas*/
 .imagenInfo{
    height: auto;
    width: auto;
 }



 .mensajeExitoso{

    text-align: center;
    font: 1em sans-serif;
 }
/* todo lo referente al carrusel de imagenes */
 

 .carruselItems{
    display: flex;
    overflow-x: hidden;
 }
 .carruselItem{
    
    width: 200px;
    height: 200px;
    
 }
/* La parte inferior del index donde aparece toda la información legal*/
 .informacionLegal{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,25px);
   

 }

 .letrasLegal{

    color: #f5f5f3;
    text-align: left;
    flex-direction: column;
    display: grid;
    
 }

 